@media print {
  nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Global settings */
html,
body {
  color: black;
  font-family: "Comic Neue";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Header */
header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  border-bottom: 1px solid black;
  font-size: 32px;
}

header img {
  height: 4em;
}

/* Header - Dropdown - main */
header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  text-decoration: none;
}

head ul li:last-child {
  margin-right: 0;
}

header ul li a {
  text-decoration: none;
  color: black;
  padding: 22px 0;
  display: inline-block;
  font-size: 32px;
}

.nav_links li a:hover {
  text-decoration: underline;
  color: black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

/* Header - Dropdown - submenu */
header ul .submenu {
  position: absolute;
  width: 200px;
  background-color: whitesmoke;
  box-shadow: 0 20px 45px black;
  margin-top: -50px;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
}

header ul li:hover .submenu {
  z-index: 99;
  opacity: 1;
  margin-top: 0;
}
header ul .submenu li {
  margin: 0;
  width: 100%;
}

header ul .submenu li a {
  padding: 15px 20px;
  display: inline-block;
  width: 100%;
}

/* Footer */
footer {
  margin-top: auto;
  background-color: white;
  padding: 0% 5%;
  border-top: 1px solid black;
  width: 100%;
  font-size: 20px;
  left: 0;
  bottom: 0;
}

/* Main - text */
.overlay-text2 {
  background-color: transparent;
  color: whitesmoke;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  top: 70%;
  right: 7%;
  padding: 20px 40px;
  text-align: right;
}

.overlay-text1 {
  background-color: whitesmoke;
  color: black;
  font-size: 26px;
  position: absolute;
  top: 80%;
  right: 10%;
  padding: 30px 40px;
  text-align: right;
}
.overlay-text1:hover {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-size: 26px;
  position: absolute;
  top: 80%;
  right: 10%;
  padding: 30px 40px;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* Main - Image */

/* Slider */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
}

.slider .slide {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-position: 50% 50%;
  object-fit: cover;
}

main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: fill;
  /* width: 100%; */
  height: auto;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}
