html {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}

header img {
  margin-left: 5px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin-right: 10px;
}

.nav_links li a:hover {
  color: blueviolet;
}

.image-container {
  position: relative;
  display: flex;
}

.image-container img {
  width: auto;
  height: auto;
  display: block;
}

.overlay-text2 {
  background-color: transparent;
  color: white;
  font-size: x-large;
  position: absolute;
  top: 60%;
  left: 60%;
  padding: 20px 40px;
  text-align: right;
}

.overlay-text1 {
  background-color: whitesmoke;
  color: black;
  font-size: medium;
  position: absolute;
  top: 70%;
  left: 80%;
  padding: 20px 40px;
  text-align: right;
}

.overlay-text1:hover {
  background-color: transparent;
  border: 3px;
  border-color: white;
  border-style: solid;
  color: white;
  font-size: medium;
  position: absolute;
  top: 70%;
  left: 80%;
  padding: 20px 40px;
  text-align: right;
}
